*{
    margin:0;
    padding:0;

}
.body{
    /* height: auto; */
    overflow-y: hidden;
    background: linear-gradient(#deb887, #9a6f36);
}

.pagecontainer{
    max-width: 350px;
    height: 600px;
    border: 1px solid black;
    border-radius: 3rem;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#9a6f36,#deb887); 
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 20px;
}
form input{
    height: 1.6rem;
}
form input::placeholder{
    font-size: 15px;
}


.pagecontainer>form>#btn1 ,#btn2 ,#btn3,#btn4{
    margin: 10px;
    padding: 0 10px;
    
}
#signup-message{
    color: green;
    font-size: 24px;

}
/* .maincontainer{
    display:flexbox;
    position: absolute;
    border:1px solid black;
    text-align: center;
    justify-content: center; 
    align-items: center;
    max-width: 400px;  
    
}
.container{
    border:1px solid black;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex:1 1 auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
}


#error-message1{
    display: none;
    color: brown;
    font-size: 24px;
}
#error-message2{
    display: none;
    color: brown;
    font-size: 24px;
}

#demo{
    color: brown;
    font-size: 24px;

} */