*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.pagecontainer{
    /* display: flex;
    justify-content: center; */
    display:flexbox; 
    flex-wrap: wrap;
    
    text-align: center;
    border:1px solid black;
    max-width: 350px;  
    margin: 0 auto;
    margin-top: 20px;
    /* position: absolute;
    text-align: center;
    justify-content: center; 
    align-items: center; */  
}
.pagecontainer>form {
    padding-top: 10px;
    
}

.pagecontainer>form>#btn1 ,#btn2 ,#btn3,#btn4{
    margin: 10px;
    
}
/* .maincontainer{
    display:flexbox;
    position: absolute;
    border:1px solid black;
    text-align: center;
    justify-content: center; 
    align-items: center;
    max-width: 400px;  
    
}
.container{
    border:1px solid black;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex:1 1 auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
} */

#success-message{
    display: none;
    color: green;
    font-size: 24px;

}
#error-message1{
    display: none;
    color: brown;
    font-size: 24px;
}
#error-message2{
    display: none;
    color: brown;
    font-size: 24px;
}

#demo{
    color: brown;
    font-size: 24px;

}