*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.body{
  
    background-image: url("../images/signuup-background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    
}

.pagecontainer{
    display:flexbox; 
    flex-wrap: wrap;
    text-align: center;
    border:1px solid black;
    border-color: white;
    max-width: 350px;  
    margin: 0 auto;
    margin-top: 20px; 
    
    
}
.pagecontainer , a{
    color: white;
}
.pagecontainer>form {
    padding-top: 10px;
    /* color: white; */
    
}

.pagecontainer>form>#btn1 ,#btn2 ,#btn3,#btn4{
    margin: 10px;
    padding: 0 10px;
    
}
#signup-message{
    color: green;
    font-size: 24px;

}
/* .maincontainer{
    display:flexbox;
    position: absolute;
    border:1px solid black;
    text-align: center;
    justify-content: center; 
    align-items: center;
    max-width: 400px;  
    
}
.container{
    border:1px solid black;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex:1 1 auto;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
}


#error-message1{
    display: none;
    color: brown;
    font-size: 24px;
}
#error-message2{
    display: none;
    color: brown;
    font-size: 24px;
}

#demo{
    color: brown;
    font-size: 24px;

} */